  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 100vh;
    min-width:100vw;
  }
  
  .box {
    text-align: center;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
 .box h1 {
    font-size: 100px;
    margin: 0;
    color: #ff6347;
  }
  
 .box p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #555;
  }
  
 .back-link {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #00b34b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-link:hover {
    background-color: #3ab56d;
  }
 