.finance-item-content{
    display:flex;
    flex-direction: column;
    gap:2rem;
    }
 
.finance-inner-content{
    background-color: rgb(240, 243, 207);
    display:flex;
    width:100%;
    padding:1rem;
    gap:2rem;
    border:4px solid gray;
    box-shadow: 3px 4px 6px rgb(234, 197, 152) inset;
    border-radius: 20px;
    transition: transform 0.3s;
}

.finance-inner-content:hover {
    transform: scale(1.05); /* Scale up the element on hover */
  }

.category-icon{
    width:70px;
    height:74px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:4px solid rgb(194, 179, 179);
    border-radius: 6px;
    font-size: 40px;
    background-color: rgb(246, 235, 188);
    color:rgb(21, 21, 21);
}

.finance-detail{
    display:flex;
    flex:1;
    flex-direction: column;
    gap:0.6rem;
}

.dot-before::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(59, 160, 59);
    border-radius: 50%;
    margin-right: 5px; /* Adjust as needed */
  }
  

.finance-time{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
   }

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background-color: rgb(199, 194, 194);
    border-radius: 100%;
    color:black;
    font-weight: 30px;
    border:none;
}   