.sidebar-container{
    margin:2.5rem 1.5rem;
    padding:5%;
    flex:1;
    min-width:250px;
    height:100vh;
    background-color:rgb(133, 225, 242);
    border-radius: 18px;
    border:4px solid rgb(114, 109, 109);
    display:flex;
    flex-direction: column;
}

@media (max-width:750px){
    .sidebar-container{
        flex-direction: row;
        height: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.user-profile{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 2rem ;
    align-items: center;
    text-decoration: none;
}

.user-profile img{
    width:50px;
    height:60px;
    border-radius: 100%;
    background-color:#22201e ;
}

.user-name{
    display:flex;
    height:70px; 
    flex-direction: column;
    justify-content: center;
}

.user-name h5,p{
    color:rgb(78, 76, 75);
    margin:0;
}

.menu-items{
    gap:1rem;
}

.sidebar-link {
   text-decoration: none;
   display: flex;
   padding-left:10px;
}

.sidebar-link i{
    font-size: 28px;
    color:rgb(69, 67, 67);
    width:40px;
}

.sidebar-link span{
    flex:1;
    font-size: 20px;
    color:rgb(71, 69, 69);
}

.active-link{
    border-left:6px solid #42403e;;
    border-radius: 4px;
    color:#141312;
}

.active-link i{
    color:#3f3e3d;
}

.active-link span{
    color:#3f3e3d;
    font-weight: 500;
}

